.mobile-head {
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 32pt;
}

.games-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-end;
}

.available-games {
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 14pt;
}

.see-all {
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

.scrolling-wrapper {
    display: flex;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    min-width: 100px;
    height: 400px;
}