.mobile-head {
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 32pt;
    line-height: 1.3;
}

.games-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-end;
}

.available-games {
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 14pt;
}

.instant-upload {
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    font-size: '12px';
}

.see-all {
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.game-card {
    border-radius: 30px;
    width: 330px;
    margin-right: 20px;
    padding-block: 10px;
    height: 176px
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}