.game-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: white;
}

.game-header {
    font-family: 'Syne', cursive;
    font-size: 24pt;
    font-weight: 600;
    color: white;
}

.game-button {
    /* height: 250px; */
    background-color: #555555;
    border-radius: 250px;
    margin-top: 150px;
    font-family: 'Syne', cursive;
    font-size: 26pt;
    color: #ffffff;
    padding: 100px,
    
}

.game-button:focus {
    background-color: #a0c5c5;
}

.game-button:active {
    background-color: #a0c5c5;
}