.game-lost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    color: white;
}

.game-lost-text {
    font-family: 'Syne', cursive;
    font-size: 16pt;
    margin-top: 50px;
}