.game-lost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.game-lost-text {
    font-family: 'Lilita One', cursive;
    font-size: 16pt;
    margin-top: 50px;
}